[submodule ".local/src/dwm"]
	path = .local/src/dwm
	url = https://github.com/jannec22/dwm.git
[submodule ".local/src/dwmblocks"]
	path = .local/src/dwmblocks
	url = https://github.com/jannec22/dwmblocks.git
[submodule ".local/src/st"]
	path = .local/src/st
	url = https://github.com/jannec22/st.git
[submodule ".local/src/slock"]
	path = .local/src/slock
	url = https://github.com/jannec22/slock.git
[submodule ".local/src/dmenu"]
	path = .local/src/dmenu
	url = https://github.com/jannec22/dmenu.git
[submodule ".local/src/mutt-wizard"]
	path = .local/src/mutt-wizard
	url = https://github.com/LukeSmithxyz/mutt-wizard
[submodule ".local/src/pass-git-helper"]
	path = .local/src/pass-git-helper
	url = https://github.com/languitar/pass-git-helper.git
