# Ignore everything:
*

# Except for:

!.config/
!.config/*
!.config/*/*
!.config/*/*/*

!.local
!.local/*
!.local/*/*
!.local/*/*/*

!.bash_logout
!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!.profile
!.xinitrc
!.xprofile
!.zprofile

!install.sh
!uninstall.sh