# Ignore everything:
*

# Except for:

!.config/
!.config/*
!.config/*/*
!.config/*/*/*

!.local
!.local/*
!.local/*/*
!.local/*/*/*

!.local/.gitignore
!.local/*/.gitignore
!.local/*/*/.gitignore

!.bash_logout
!.bash_profile
!.bashrc
!.gitignore
!.gitmodules
!.profile
!.xinitrc
!.xprofile
!.zprofile

!install.sh
!uninstall.sh

!README.md
!progs.csv

# ignore this
.gitconfig