# Ignore everything:
*

# Except for:

!.config/
!.config/alsa/
!.config/alsa/*

!.config/Code - OSS/
!.config/Code - OSS/User/
!.config/Code - OSS/User/settings.json

!.config/dunst/
!.config/dunst/*

!.config/fontconfig/
!.config/fontconfig/*

!.config/gtk-2.0/
!.config/gtk-2.0/*

!.config/gtk-3.0/
!.config/gtk-3.0/*

!.config/htop/
!.config/htop/*

!.config/inkscape/
!.config/inkscape/preferences.xml

!.config/lf/
!.config/lf/*

!.config/mpd/
!.config/mpd/*

!.config/mpv/
!.config/mpv/input.conf

!.config/ncspot/
!.config/ncspot/config.toml

!.config/newsboat/
!.config/newsboat/*

!.config/nvim/
!.config/nvim/init.vim

!.config/redshift/
!.config/redshift/*

!.config/sxiv/
!.config/sxiv/*
!.config/sxiv/*/*

!.config/vifm/
!.config/vifm/*
!.config/vifm/*/*

!.config/zathura/
!.config/zathura/*

!.config/zsh/
!.config/zsh/.zshrc

!.config/wal/
!.config/wal/*
!.config/wal/*/*
!.config/wal/*/*/*

!.config/x11/
!.config/x11/*

!.config/shell/
!.config/shell/*

!.config/.gitignore
!.config/mimeapps.list
!.config/user-dirs.dirs

# ignore all things that may be private
.config/vpn/
.config/mutt/
.config/msmtp/
.config/ncspot/credentials*
.config/pass-git-helper/

!.local
!.local/*
!.local/.gitignore
!.local/bin/
!.local/bin/*
!.local/bin/*/*
!.local/bin/*/*/*

!.local/src/
!.local/src/*
.local/src/*/*
.local/src/*/.*
!.local/src/st_luke/
!.local/src/st_luke/*

!.local/share/applications/
!.local/share/applications/*
!.local/share/emoji
!.local/share/ttymaps.kmap

!.bash_logout
!.bash_profile
!.bashrc
!.gitignore
!.gitmodules
!.profile
!.xinitrc
!.xprofile
!.zprofile

!install.sh
!uninstall.sh

!README.md
!progs.csv

# ignore this
.gitconfig
