# Ignore everything:
*

# Except for:

!alsa/
!alsa/*

!Code - OSS/
!Code - OSS/User/
!Code - OSS/User/settings.json

!dunst/
!dunst/*

!fontconfig/
!fontconfig/*

!gtk-2.0/
!gtk-2.0/*

!gtk-3.0/
!gtk-3.0/*

!htop/
!htop/*

!inkscape/
!inkscape/preferences.xml

!lf/
!lf/*

!mpd/
!mpd/*

!mpv/
!mpv/input.conf

!ncspot/
!ncspot/config.toml

!newsboat/
!newsboat/*

!nvim/
!nvim/init.vim

!redshift/
!redshift/*

!sxiv/
!sxiv/*
!sxiv/*/*

!vifm/
!vifm/*
!vifm/*/*

!zathura/
!zathura/*

!zsh/
!zsh/*

!wal/
!wal/*
!wal/*/*
!wal/*/*/*

!x11/
!x11/*

!shell/
!shell/*

!.gitignore
!mimeapps.list
!user-dirs.dirs

# ignore all things that may be private
vpn/
mutt/
msmtp/
ncspot/credentials*
pass-git-helper/