# Ignore everything:
*

# Except for:

!alsa/
!alsa/*

!Code - OSS/
!Code - OSS/User/
!Code - OSS/User/settings.json

!dunst/
!dunst/*

!fontconfig/
!fontconfig/*

!gtk-2.0/
!gtk-2.0/*

!gtk-3.0/
!gtk-3.0/*

!htop/
!htop/*

!inkscape/
!inkscape/preferences.xml

!lf/
!lf/*

!mpd/
!mpd/*

!mpv/
!mpv/input.conf

!msmtp/
!msmtp/*

!mutt/
!mutt/*
!mutt/*/*

!ncspot/
!ncspot/*
# !! ignore credentials !!
ncspot/credentials*

!newsboat/
!newsboat/*

!nvim/
!nvim/init.vim

!pass-git-helper/
!pass-git-helper/*

!redshift/
!redshift/*

!sxiv/
!sxiv/*
!sxiv/*/*

!vifm/
!vifm/*
!vifm/*/*

!vpn/
!vpn/*
!vpn/*/*.ovpn

!zathura/
!zathura/*

!zsh/
!zsh/*


!aliasrc
!directories
!files
!.gitignore
!inputrc
!mimeapps.list
!profile
!shortcutrc
!user-dirs.dirs
!xinitrc
!xprofile
!Xresources
!zshnameddirrc