#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Systail Digital Signage Web Panel
Exec=/usr/lib/brave-bin/brave --profile-directory=Default --app-id=kfdkbpkjcehifbeblijmnjeimphmdamp
Icon=brave-kfdkbpkjcehifbeblijmnjeimphmdamp-Default
StartupWMClass=crx_kfdkbpkjcehifbeblijmnjeimphmdamp
